*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 168, 190, 0.5) 0%, rgba(116, 15, 123, 0.5) 100%), url(../img/confianza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background-image: linear-gradient(to top, rgb(0, 168, 190) 0%, rgb(116, 15, 123) 100%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.637);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, rgb(0, 168, 190) 0%, rgb(116, 15, 123) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(100%); 
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.808);
}

.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 50px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 30px;
}

/* nosotros*/

.subtitulo{
    text-align: center;
    font-weight: 500;
    color: #00a7be;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-nosotros img{
    width: 40%;
}

.muela-nosotros{
    width: 45%;
}

.about{
    margin-bottom: 20px;
}

.n-about{
    margin-bottom: 7px;
    color: #740f7c;
}


.number{
    display: inline-block;
    background-image: linear-gradient(to top, #00a8be 0%, #740f7b 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
}

.service{
    background-image: linear-gradient(to top, #00a8be 0%, #740f7b 100%);
    
}

.contenainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.contenainer img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.contenerdo-servicio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.servicio{
    font-family:Quattrocento,Arial,sans-serif;
    position:relative;
    overflow:hidden;
    margin:10px;
    min-width:230px;
    max-width:315px;
    width:100%;
    color:#ffffff;
    text-align:left;
    line-height:1.4em;
    font-size:16px;
}
.servicio *{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.servicio img{
    max-width:100%;
    vertical-align:top;
    
}
.servicio figcaption{
    position:absolute;
    top:calc(77%);
    width:100%;
    background-color:rgba(99, 6, 105, 0.774);
    padding:15px 25px 65px
}
.servicio figcaption:before{
    position:absolute;
    content:'';
    z-index:2;
    bottom:100%;
    left:0;
    width:100%;
    height:80px;
    background-image:-webkit-linear-gradient(top,transparent 0,rgba(99, 0, 112, 0.774) 100%);
    background-image:linear-gradient(to bottom,transparent 0, rgba(99, 0, 112, 0.774) 100%)
}
.servicio h3,.servicio p{
    margin:0 0 20px
}
.servicio h3{
    font-weight:300;
    font-size:1.4em;
    line-height:1.2em;
    font-family:Oswald,Arial,sans-serif;
    text-transform:uppercase
}
.servicio p{
    font-size:.9em;
    letter-spacing:1px;
    opacity:.9
}
.servicio a{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2
}
.servicio.hover figcaption,.servicio:hover figcaption{
    top:80px
}


 .odontólogos{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }

 .cont-odont{
     width: 30%;
     text-align: center;
     margin-bottom: 20px;
 }

 .cont-odont img{
     width: 80%;
     display: block;
     margin: 0 auto;
 }

 .n-odont{
     display: inline-block;
     margin-top: 20px;
     width: 100%;
     font-weight: 700;
 }

 

 /*footer */

 footer{
    background-image: linear-gradient(to top, #00a8be 0%, #740f7b 100%);
     padding-bottom: 0.1px;
     border:1px solid #000 ;
 }

 .footer-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding-top: 60px;
     padding-bottom: 40px;
 }

 .contact-us{
     width: 40%;
     color: #fff;
 }

 .brand{
     font-weight: 500;
     font-size: 40px;
 }

 .brand+p{
     font-weight: 500;
 }

 .social-media{
     width: 50%;
     display: flex;
     justify-content: flex-end ;
 }

 .social-media-icon{
     display: inline-block;
     margin-left: 20px;
     width: 60px;
     height: 60px;
     border: 1px solid #fff;
     border-radius: 50%;
     text-align: center;
     color: #fff;
 }

 .social-media-icon:hover{
     background: #fff;
     color: #00a7be;
 }

 .social-media-icon i{
     font-size: 30px;
     line-height: 60px;
 }



 @media screen and (max-width:800px){
     .menu-navegacion{
         width: 50vw ;
     }

     .titulo{
         font-size: 40px;
     }
    .contenedor-nosotros img{
        width: 80%;
        margin-bottom: 40px;
    }

    .muela-nosotros{
        width: 80%;
    }
    .about{
        margin-bottom: 30px;
    }

    .cont-odont{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
 }

 @media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 30px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }

 }